.tap-entry {
  border: solid 1px #DADADA;
  border-bottom: solid 2px #CACACA;
}

.tap-control-btn {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
